.navigation {
    justify-content: space-between;
    display: flex;
    color: white;
    top: 0px;
    background-color: rgb(175, 160, 23);
    height: 40px;
    margin-bottom: 50px;
    width: 100%;
}
.navigation p {
    padding-left: 5px;
    align-items: center;
    display:flex;
    font-size: 20px;
}
.navigation a {
    display:flex;
    margin: 0px;
    color: white;
    padding: 0 10px;
}
body {

    background-color: rgb(255, 253, 223);
}
.Dashboard {
    display: inline-block;
    background-color: white;
    padding: 20px;
    margin: 5px;
    width: 250px;
    height: 400px;
    border: solid rgb(175, 160, 23) 2px;
    
}
.Budget {
    display: inline-block;
    background-color: white;
    padding: 20px;
    margin: 5px;
    width: 250px;
    height: 400px;
    border: solid rgb(175, 160, 23) 2px;
    
}
.Checkbooks {
    display: inline-block;
    background-color: white;
    padding: 20px;
    margin: 5px;
    width: 250px;
    height: 400px;
    border: solid rgb(175, 160, 23) 2px;
    
}
.Money {
    display: inline-block;
    background-color: white;
    padding: 20px;
    margin: 5px;
    width: 250px;
    height: 400px;
    border: solid rgb(175, 160, 23) 2px;
    
}
h2 {
    text-align: left;
}
.Dashboard-Info {
    width: 240px;
    background-color: rgb(175, 160, 23);
    text-align: center;
}
.Budget-Info {
    width: 240px;
    background-color: rgb(175, 160, 23);
    text-align: center;
}
.Checkbooks-Info {
    width: 240px;
    background-color: rgb(175, 160, 23);
    text-align: center;
}
.Money-Info {
    width: 240px;
    background-color: rgb(175, 160, 23);
    text-align: center;
}
.page {
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
ul {
    display: flex;
    list-style-type: none;
}